/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
}

/* UTILITIES */
.container {
  padding: 0 1rem;
}

.small-container {
  padding: 0 1rem;
}

section {
  padding: 1.5rem 0;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: hsl(209deg 100% 50%);
}

.links {
  display: none;
}

.links > a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.links > a:last-child {
  color: black;
  background-color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
}

.menu > a i {
  color: white;
  font-size: 30px;
}
/* MAIN */
.col {
  margin-bottom: 1rem;
}

#features .card {
  height: 100%;
}

#features .card img {
  display: block;
  max-width: 250px;
}

.card {
  background-color: hsl(208deg 100% 85%);
  border-radius: 1rem;
}

.card-content {
  padding: 2rem;
}

.card-content > h2 {
  color: hsl(209deg 98% 53%);
}

.card-content > p {
  padding: 1rem 0;
}

.card-content > a {
  text-decoration: none;
  color: white;
  background-color: hsl(209deg 98% 53%);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}

.card-content > a > i {
  margin-right: 0.4rem;
}

.card-content > i {
  font-size: 100px;
  color: hsl(209deg 98% 53%);
}

.card-content > h3 {
  color: hsl(209deg 98% 53%);
}

#planning {
  background-color: hsl(244deg 60% 73%);
  padding: 2rem 20rem;
}

#planning > .card {
  color: white;
}

#planning > .row {
  display: flex;
}

#planning > .col .large {
  width: 60%;
}

#planning > .col .small {
  width: 40%;
}

.image-planning {
  height: 60%;
  width: 50%;
}

#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: center;
  width: 55%;
}

.text-container > h2 {
  padding: 1rem 0;
  color: hsl(243deg 60% 74%);
}

.partner-container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border-radius: 2rem;
  width: 55%;
  background-color: hsl(243deg 60% 74%);
}

.partner-container > p {
  color: white;
}

.testimonial {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 1rem;
}
/* *******************************************
RESPONSIVE
******************************************* */
/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  #features .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #features .col {
    width: calc(100% / 3);
    padding: 0 0.6rem;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
  .links {
    display: block;
  }

  .menu {
    display: none;
  }

  .header {
    margin: 0 auto;
    padding: 0.5rem 5rem;
  }

  #features {
    padding: 1.2rem 5rem;
  }

  #features .card:first-child {
    display: flex;
  }
}
